body {
  margin: 0;
  background-color: hsl(30, 54%, 90%);
  font-family: Arial, sans-serif;
}
.container {
  max-width: 600px;
  margin: 40px auto;
  background-color: white;
  padding: 24px;
  border-radius: 16px;
}
.recipe-image {
  width: 100%;
  display: block;
  border-radius: 12px;
}
.recipe-image{
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.prep-time{
    padding: 10px;
    background-color: hsl(330, 100%, 98%);

    border-radius: 12px;
    margin: 24px 0;


}

.prep-time h2{
    color: black;
    margin-bottom: 12px;
}

.prep-time ul{
    padding-left: 20px;
}

.prep-time li{
    color: black;
    margin-bottom: 8px;
}

.prep-time h2{
    color: black;
    margin-bottom: 12px;
}

.prep-time li::marker {
  color: hsl(332, 51%, 32%);
}

.Ingredients{
    margin: 24px 0;
}

.Ingredients h2{
    color: hsl(14, 45%, 36%);
    margin-bottom: 12px;

}
.Ingredients ul{
    padding-left: 20px;
}

.Ingredients li{
    color: hsl(30, 10%, 34%);
    margin-bottom: 8px;

}

.Ingredients li::marker{
    color: hsl(14, 45%, 36%);
    ;

}


.Instructions{
    margin: 8px ;
    
}

.Instructions h2{
   color: hsl(14, 45%, 36%);
   margin-bottom: 12px;
} 
.Instructions ol{
   padding-left: 20px;
} 

.Instructions li{
   color: hsl(30, 10%, 34%);
    margin-bottom: 8px;
}

.Instructions li::marker{
   color: hsl(14, 45%, 36%);
   text-decoration: solid;
    
} 

.nutrition {
  margin: 24px 0;
}


.nutrition h2 {
  color: hsl(14, 45%, 36%);
  margin-bottom: 12px;
}

.nutrition p {
  color: hsl(30, 10%, 34%);
  margin-bottom: 16px;
}

.nutrition table {
  width: 100%;
  border-collapse: collapse;
}

.nutrition td {
  padding: 12px 0;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}
.nutrition td strong {
  color: hsl(14, 45%, 36%);
}


